<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<div class="container" style="max-width: 700px;">
  <h1 class="text-center pt-5" style="font-family: 'Poppins', sans serif; color:#15452B">Your Favorite Recipes</h1>

  <%= form_tag(recipes_path, method: :get, class: "form-inline justify-content-center mt-4") do %>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <%= text_field_tag :search, params[:search], class: "form-control mr-sm-2", placeholder: "Search recipes" %>
        </div>
      </div>
      <div class="col-auto">
        <%= submit_tag "Search", class: "btn btn-dark my-2 my-sm-0" %>
      </div>
    </div>
  <% end %>

  <div class="col-md-4">
    <% if @favorites.any? %>
      <% @favorites.each do |recipe| %>
        <%= render 'shared/recipe_card', recipe: recipe %>
      <% end %>
    <% else %>
      <p class="text-center pt-3">You have no favorite recipes yet.</p>
    <% end %>
  </div>
</div>
<%# hello %>
