<div class="content">
  <h1 class="title">Pantry Pal</h1>
  <p class="subtitle">Got food at home? See what you can make!</p>
  <form class="form-container" action="" enctype="multipart/form-data" method="POST">
    <input type="hidden" name="$ACTION_REF_1">
    <input type="hidden" name="$ACTION_1:0" value="{&quot;id&quot;:&quot;df721e00e8ce96eafd50486aae271bff41a913b1&quot;,&quot;bound&quot;:&quot;$@1&quot;}">
    <input type="hidden" name="$ACTION_1:1" value="[{&quot;message&quot;:&quot;&quot;}]">
    <input type="hidden" name="$ACTION_KEY" value="k2658536988">

    <div class="input-container">
      <input type="text" id="foodItem" autocomplete="off" class="food-item-input" placeholder="Enter item" autofocus="" value="">
      <button class="add-button" disabled="" type="button">+</button>
    </div>

    <ul class="items-list px-1"></ul>
    <input type="hidden" name="foodList" value="[]">
    <button class="submit-button" disabled="" aria-label="Find Recipe" type="submit">Search ingredients</button>
  </form>
</div>

<div class="recent-recipes">
    <p>Nothing yet</p>
</div>
