<%# <div class= "d-flex align-item-start justify-content-between p-2 bd-highlight">

  <div class="recipe-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @course.background_image_url %>)">
    <div class="container mt-5">
      <div class="title">
        <%= @recipes.title %>
      </div>
    </div>
  </div> %>

p><strong>Title:</strong> <%= @recipes.title%></p>
