<footer>
  <div class="footer-content">
    <div class="footer-left">
    </div>
  </div>
  <div class="footer-bottom">
    <p style="color: #15452B; text-align: center;">&copy; <%= Time.now.year %> PantryPalApp. Made with ❤ Khaili, Rumaysaa, Gianna, Sandra ❤</p>
  </div>
</footer>
