<div class="recipe-card-container">
  <img src=<%= recipe['image'] %> class="recipe-card-image" alt=<% recipe['title'] %>>
  <p class="recipe-card-title"><%= recipe['title'] %></p>
  <form action=<%= "/recipes/#{recipe['id']}" %>>
    <button class="recipe-card-button" type='submit' style="color: #15452B;">View</button>
  </form>
</div>
<%# hello %>
