.homepage-recent-recipes-container {
  margin-top: 20px;
  text-align: left;
}

.homepage-recent-recipes-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.recent-recipe-button {
  height: 62px;
  background-color: white;
  border-color: white;
  font-size: 24px;
  border-radius: 20px
}

.recipes-cards-collection {
  display: flex;
  width: 1440px;
  flex-flow: wrap;
  justify-content: space-between;
}

.ingredients-form-container {
  display: flex;
  text-align: center;
}

.ingredients-text-field {
  width: 986px;
  height: 62px;
  border-radius: 20px;
  font-size: 20px;
  padding: 20px;
}

.ingredients-button {
  width: 749px;
  height: 40px;
  background-color: #090909;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
}
